apiVersion: cosmos.strange.love/v1
kind: CosmosFullNode
metadata:
  name: oraichain
  namespace: cosmos
  annotations:
    prometheus.io/port: "prometheus"
    prometheus.io/scrape: "true"
spec:
  chain:
    app:
      minGasPrice: "0.001orai"
      #haltHeight: 16200000
      overrides: |-
        # Set app.toml overrides here. Such as:
        index-events = ["tx.hash", "tx.height"]
        pruning-keep-recent = "27203"
        pruning-keep-every = "1000"
        pruning-interval = "11"
        [rosetta]
        enable = false
        [wasm]
        query-contract-gas-limit = "10000000"
        query_gas_limit = "10000000"
        query-gas-limit = "10000000"
        memory_cache_size = 400 
        [state-sync]
        snapshot-interval = 1000
        snapshot-keep-recent = 2
        [mempool]
        max-txs = -1
    binary: oraid
    chainID: Oraichain
    config:
      seeds: "4d0f2d042405abbcac5193206642e1456fe89963@3.134.19.98:26656,24631e98a167492fd4c92c582cee5fd6fcd8ad59@162.55.253.58:26656,bf083c57ed53a53ccd31dc160d69063c73b340e9@3.17.175.62:26656,35c1f999d67de56736b412a1325370a8e2fdb34a@5.189.169.99:26656,5ad3b29bf56b9ba95c67f282aa281b6f0903e921@64.225.53.108:26656,d091cabe3584cb32043cc0c9199b0c7a5b68ddcb@seed.orai.synergynodes.com:26656"
      peers: "b583e4e18de98fce7bae62220b807fbf340373e2@143.198.11.18:26656,a433dde605befdf241bab4361aef844176a48c0d@167.99.124.244:26656,b583e4e18de98fce7bae62220b807fbf340373e2@134.209.164.196:26656,2d347cec97cdb55eebba99bf91af60121bd7bf85@65.109.92.110:26656,cae3971049147b293eab14e06c437fef1b3e71aa@65.21.47.174:26656,06ef57c68cd0457de89d9de18577cf083f5efabe@65.108.133.155:26656"
      # set it here so we can remember to change it to 500ms
      #timeoutCommit: 5s
      maxInboundPeers: 20
      maxOutboundPeers: 70
      overrides: |-
        [consensus]
        timeout_commit= "500ms"
        [tx_index]
        indexer = "kv"
    genesisURL:  https://raw.githubusercontent.com/oraichain/oraichain-static-files/master/genesis.json
    network: mainnet
    skipInvariants: true
    #snapshotURL: https://snapshot.pfc.zone/files/oraichain/oraichain.latest.tar.lz4
    #snapshotURL: https://support.synergynodes.com/snapshots/oraichain/oraichain_81019228.tar.lz4
    #snapshotURL: https://server-2.itrocket.net/mainnet/oraichain/oraichain_2025-07-25_69743588_snap.tar.lz4
    snapshotURL: https://server-3.itrocket.net/mainnet/oraichain/oraichain_2026-02-03_94126938_snap.tar.lz4
    
    versions:
      - height: 0
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.41.6
      - height: 16077107
        image: ghcr.io/pfc-developer/heighliner/oraichain-patch:0.41.7-patch
      - height: 18944489
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.41.8
      - height: 21627705
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.42.0
      - height: 28107890
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.42.1
      - height: 29940328
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.42.2
      - height: 32154078
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.42.3    
      - height: 34717352
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.42.4
      - height: 39000564
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.0
      - height: 39720039
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.1
      - height: 42851595
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.2
      - height: 44031870
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.3
      - height: 45603379
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.4
      - height: 49881106
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.5
      - height: 51597868
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.6
      - height: 52247689
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.7
      - height: 53006170
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.8
      - height: 55384278
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.9
      - height: 57862182
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.10
      - height: 59442845
        image: ghcr.io/pfc-developer/heighliner/oraichain:orai-v0.50.11
      - height: 69217035
        image: ghcr.io/pfc-developer/heighliner/oraichain:v0.50.12  
      - height: 92050000
        image: ghcr.io/pfc-developer/heighliner/oraichain-sec:v.0.50.13      
        setHaltHeight: true
  podTemplate:
    resources:
      requests:
        memory: 32Gi
        cpu: 4000m    
      limits:
        memory: 64Gi        
    affinity:
      nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: provider
                operator: In
                values:
                - lsw
                - ovh    
      podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                - oraichain
            topologyKey: "zone"  
  selfHeal:
    heightDriftMitigation:
      threshold: 10  
  replicas: 2 # TODO change to 1 to use less resources
  volumeClaimTemplate:
    resources:
      requests:
        storage: 750Gi
    accessModes: [ "ReadWriteOnce" ]
    storageClassName: ssd-persistent-block-store
  service:
    maxP2PExternalAddresses: 2  
    p2pTemplate:
      externalTrafficPolicy: Cluster
      type: NodePort
